[Unit]
Description=Create a tunnel for inbound HTTP traffic
After=network.target

[Service]
Type=simple
User={{ tunnel_user }}
Group={{ tunnel_group }}
ExecStart=/usr/bin/autossh -N -R 3000:localhost:3000 ec2-user@{{ tunnel_server }}

[Install]
WantedBy=multi-user.target